*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 24px;
    font-family: 'Roboto', Helvetica, sans-serif;
}

button {
    font-family: inherit;
    font-size: inherit;
}

.app {
    position: relative;
}

.container {
    width: 100%;

    @media (max-width: 1319px) {
        padding: 0 20px;
    }

    @media (min-width: 900px) {
        margin: 0 auto;
        max-width: 1280px;
    }
}

:root[data-theme='light'] {
    --background-color: #fff;
    --background-color-pre: #eee;
    --text-color: #222;
    --text-color-reverse: #eee;
    --link-color: blue;
    --link-color-visited: purple;
    --border-color: #f6f6f6;
    --bg-active-color: rgb(219 244 252);
}

:root[data-theme='dark'] {
    --background-color: #222;
    --background-color-pre: #333;
    --text-color: #eee;
    --text-color-reverse: #222;
    --link-color: lightblue;
    --link-color-visited: lightseagreen;
    --border-color: #333;
    --bg-active-color: rgb(84 94 97);
}

html[data-theme='dark'] {
    color-scheme: dark;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-size: 20px;
}

button,
input {
    font: inherit;
}

a {
    color: var(--link-color);

    &:visited {
        color: var(--link-color-visited);
    }
}
