.admin__panel {
    width: 1400px;
    margin: auto;
}

.page__add {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 36px;
    align-self: center;
    cursor: pointer;

    &:hover {
        opacity: .6;
    }
}
