.section {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    padding: 10px 0;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

.section__title {
    margin: 0;
}

.section button {
    font-size: 14px;
    border: none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    color: #888;

    &:hover {
        background-color: #eee;
        color: #222;
    }
}
