.section__title {
  margin: 0;
}

.section__btns {
  opacity: 0;
  display: flex;
  transition: opacity 0.3s;
}

.section button {
  font-size: 14px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  color: #888;

  &:hover {
    background-color: #eee;
    color: #222;
  }
}
