.section__title {
    margin: 0;
}

.section__btns {
    display: flex;
    opacity: 0;
    transition: opacity 0.3s;
}

.section button {
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: #888;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s;

    &:hover {
        background-color: #eee;
        color: #222;
    }
}
