.sections {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 5px;
    list-style: none;
}

.sections__item {
    display: grid;
    align-items: center;
    padding: 10px;
    padding-right: 0;
    border-radius: 5px;
    background-color: var(--background-color);
    grid-template-columns: 1fr min-content min-content;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--border-color);
        cursor: pointer;
    }
}

.sections__item:hover .section__btns {
    opacity: 1;
}
