.admin__panel {
    max-width: 1400px;
    margin: auto;
}

.page__add {
    width: 75px;
    height: 75px;
    align-self: center;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    font-size: 36px;
    justify-self: center;

    &:hover {
        opacity: 0.6;
    }
}
