.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page__title {
  margin: 0;
}

.page__item button {
  font-size: 14px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  color: #888;

  &:hover {
    background-color: #eee;
    color: #222;
  }
}
