.page__item {
    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding: 30px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 20px;
}

.page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page__title {
    margin: 0;
}

.page__item button {
    font-size: 14px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    color: #888;

    &:hover {
        background-color: #eee;
        color: #222;
    }
}
