.page__header {
    display: grid;

    // justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 30px 30px;
}

.page__title {
    margin: 0;
}

.page__link {
    text-align: center;
}

.page__item button {
    font-size: 20px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    color: #888;

    &:hover {
        color: var(--text-color);
    }
}
