.dropzone-wrapper {
    display: grid;
}

.dropzone {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-style: dashed;
    border-color: var(--border-color);
    border-radius: 2px;
    background-color: var(--background-color);
    color: var(--text-color);
    outline: none;
    transition: border 0.24s ease-in-out;

    p {
        text-align: center;
    }

    &:focus {
        border-color: #2196f3;
    }
}

.dropzone.disabled {
    opacity: 0.6;
}

.thumbsContainer {
    display: grid;
    margin-top: 16px;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
