.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.container p {
  text-align: center;
}

.container > em {
  font-size: 0.8rem;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: var(--border-color);
  border-style: dashed;
  background-color: var(--background-color);
  color: var(--text-color);
  outline: none;
  transition: border 0.24s ease-in-out;
}

.dropzone:focus {
  border-color: #2196f3;
}

.dropzone.disabled {
  opacity: 0.6;
}

.thumbsContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 16px;
}

.thumb {
  position: relative;
}

.img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.removeBtn {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  padding: 0;
  line-height: 1;
  width: 30px;
  height: 40px;
  cursor: pointer;
}
