.nfp {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 80vh;
}

.nfp__h1 {
  font-size: 140px;
  margin: 0;
}

.nfp__p {
  font-size: 60px;
  margin: 0;
}
