.header {
    display: grid;
    justify-content: end;
    padding: 20px 0;
}

.header__toggle .react-toggle-track {
    display: flex;
    width: 70px;
    height: 30px;
    align-items: center;
}

.header__toggle .react-toggle-track-x,
.header__toggle .react-toggle-track-check {
    top: auto;
    bottom: auto;
    width: auto;
    height: auto;
}

.header__toggle .react-toggle-track-x svg {
    font-size: 17px;
}

.header__toggle .react-toggle-thumb {
    top: auto;
    left: 6px;
}

.header__toggle.react-toggle--checked .react-toggle-thumb {
    left: 42px;
    border-color: #ccc;
}

.header__toggle.react-toggle--checked .react-toggle-track {
    background-color: #eee;
}

.header__toggle.react-toggle--checked:hover:not(.react-toggle--disabled)
    .react-toggle-track {
    background-color: #ccc;
}
