.pageSettings {
    position: absolute;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--background-color);
}

.pageSettings__bg-colors {
    display: grid;
}

.pageSettings__title {
    display: block;
    margin-bottom: 10px;
}

.pageSettings__item {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.pageSettings__item--checked {
    background-color: var(--bg-active-color);
}
