.page__list {
    list-style: none;
    display: grid;
    gap: 30px;
    align-content: center;
    padding: 0;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1200px) {
        padding: 100px 0;
        grid-template-columns: repeat(3, 1fr);
    }
}

.page__item {
    display: grid;
    padding: 30px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    gap: 20px;
    grid-template-rows: min-content 1fr min-content;
}
