.formAdding {
    position: fixed;
    top: 240px;
    left: 0;
    right: 0;
    display: grid;
    width: 450px;
    margin: 0 auto;
    padding: 30px;
    gap: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: 0px 20px 30px rgba(#000, 0.06);

    @media (max-width: 500px) {
        width: 100%;
        margin: 0 10px;
    }
    @media (max-width: 1200px) {
        position: absolute;
        top: 20px;
    }
}

.formAdding__dragzone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
}

.formAdding__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--text-color);
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

.formAdding__title {
    grid-area: title;
}

.formAdding__photo {
    grid-area: photo;
}

.formAdding__comment {
    grid-area: comment;
}

.formAdding label {
    display: block;
    margin-bottom: 10px;
}

.formAdding input {
    color: var(--text-color);
    background-color: var(--background-color);
    display: block;
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}

.formAdding__btn {
    padding: 20px 0;
    border: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
}

// removing unnecessary items react-draft-wyswyg
.rdw-option-wrapper {
    height: 28px;
}

.rdw-embedded-wrapper {
    display: none;
}

.rdw-image-wrapper {
    display: none;
}

.rdw-editor-toolbar {
    padding: 0;
    border: none;
    background-color: var(--background-color);
}

a.rdw-dropdown-selectedtext {
    color: #222;
}

.rdw-editor-main {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 20px;
    overflow-y: auto;
    max-height: 200px;
}

.rdw-editor-wrapper {
    display: grid;
}

.public-DraftStyleDefault-block {
    margin: 0;
}

.rdw-link-modal {
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    box-shadow: 0 10px 20px rgba(#000, 0.1);
    color: var(--text-color);
}

.rdw-dropdownoption-default {
    color: #222;
}

.rdw-colorpicker-modal {
    background: var(--background-color);
    box-shadow: none;
    border: 1px solid var(--border-color);
    height: auto;
}

.rdw-colorpicker-modal-options {
    overflow: auto;
}

.rdw-option-active {
    background-color: lightskyblue;
    border: none;
    box-shadow: none;
}
