.userpage__container {
    width: 100%;

    @media (width <= 1319px) {
        padding: 0 20px;
    }

    @media (width >= 900px) {
        max-width: 1280px;
        margin: 0 auto;
    }
}

.userpage {
    display: grid;
    padding: 50px 0;
    gap: 50px;
    grid-template-rows: auto;
}

.userpage__section {
    display: grid;
    gap: 30px;
    grid-template-rows: auto;
}

.userpage h1 {
    margin: 0;
    font-size: 42px;
}

.userpage h2 {
    margin: 0;
    font-size: 36px;
}

.userpage__img-list {
    display: grid;
    padding: 0;
    margin: 0;
    gap: 10px;
    grid-template-columns: 1fr;
    list-style: none;

    @media (width >= 768px) {
        grid-template-columns: 1fr 1fr;
    }
}

.userpage img {
    display: block;
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.userpage p {
    margin: 0;
}
